{% extends './base_hr.html' %}
{% block pg_head %}
    <link rel="stylesheet" type="text/css" href="/static/css/zjj/company.css">
    <link href="/static/css/zjj/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/js/zjj/jquery.js"></script>
    <script type="text/javascript" src="/static/js/zjj/jquery.SuperSlide.2.1.1.js"></script>
{% endblock %}

{% block pg_body %}

{#    <div id="companydiv">#}
{#        <h1><center>公司介绍</center></h1>#}
{#        <div id="company_img">#}
{#            <img src="/static/images/zjj/company.jpg"/>#}
{#        </div>#}
{#        <div id="company_id">#}
{#            <ul>#}
{#                <li>联系人：xxx</li><br/><br/>#}
{#                <li>电话号码：20190101</li></br><br/>#}
{#                <li>传真:0775000129</li><br/><br/>#}
{#                <li>地址：大冲国际中心5号楼13楼</li><br/><br/>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
<div class="module-banner-tab-list-box bd">
    <ul class="module-tab-box-ma">
        <li>
            <div class="module-tab-title">
                <h4>公司介绍</h4>
                <p>企业为了分析数据进而获取洞察力的努力，是商务智能的主要环节。在大数据时代，云提供了云端的数据仓储解决方案，为企业搭建现代数据仓库提供指南。</p>
            </div>
            <div class="module-tab-text clearfix">
                <h4>相关产品</h4>
                <ul class="clearfix">
                    <li class="module-tab-link">
                        <a href="#">
                            <i class="icon icon-bdm"></i>
                            <span>百度</span>
                        </a>
                    </li>
                    <li class="module-tab-link">
                        <a href="#">
                            <i class="icon icon-bds"></i>
                            <span>百度数据仓库 Palo</span>
                        </a>
                    </li>
                    <li class="module-tab-link">
                        <a href="#">
                            <i class="icon icon-bdx"></i>
                            <span>百度消息服务</span>
                        </a>
                    </li>
                </ul>
                    <div class="module-tab-more">
                        <a href="#">查看更多</a>
                    </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}