<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>企业职业测评</title>
        <link href="/static/css/zjj/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/static/js/zjj/jquery.js"></script>
        <script type="text/javascript" src="/static/js/zjj/jquery.SuperSlide.2.1.1.js"></script>
    </head>
    <body>

        <div class="module-banner">
            <div class="module-banner-box">
                <h3 class="module-banner-head">
                    <em>企业职业测评</em>
                    <span>终身致力为企业服务</span>
                </h3>
                <div class="module-banner-tab clearfix">
                    <div class="module-banner-tab-list hd">
                        <ul class="module-tab-nav">
                            <li class="on">
                                <i class="icon icon-warehouse01"></i>
                                <p>公司介绍</p>
                            </li>
                            <li>
                                <i class="icon icon-warehouse02"></i>
                                <p>客户HR</p>
                            </li>
                            <li>
                                <i class="icon icon-warehouse03"></i>
                                <p>职业管理</p>
                            </li>
                            <li>
                                <i class="icon icon-warehouse04"></i>
                                <p>智能推荐</p>
                            </li>
                            <li>
                                <i class="icon icon-warehouse05"></i>
                                <p>专家分析</p>
                            </li>
                            <li>
                                <i class="icon icon-warehouse06"></i>
                                <p>测评报告</p>
                            </li>
                        </ul>
                    </div>
                    <div class="module-banner-tab-list-box bd">
                        <ul class="module-tab-box-ma">
                            <li>
                                <div class="module-tab-title">
                                    <h4>公司介绍</h4>
                                    <p>企业为了职业测评进而获取洞察力的努力，是商务智能的主要环节。在大数据时代，为企业提供职业测评，为企业培养人才提供参考。</p>
                                </div>
                                <div class="module-tab-text clearfix">
                                    <h4>相关信息</h4>
                                    <ul class="clearfix">
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bdm"></i>
                                                <span>联系人：xxxx</span>
                                            </a>
                                        </li>
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bds"></i>
                                                <span>联系方式：20190102</span>
                                            </a>
                                        </li>
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bdx"></i>
                                                <span>公司消息服务</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="module-tab-more">
                                    <a href="#">查看更多</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="module-tab-box-ma">
                            <li>
                                <div class="module-tab-title">
                                    <h4>相关介绍</h4>
                                    <p>从为企业培养人才进行职业评估，从大数据收集存储到测评结果分析，我们企业对职业测评服务市场多年的运营经验和技术积累，为您提供完美的人才培养方案。</p>
                                </div>
                                <div class="module-tab-text clearfix">
                                    <h4>相关信息</h4>
                                    <ul class="clearfix">
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bdm"></i>
                                                <span>Cloud ADX</span>
                                            </a>
                                        </li>
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bds"></i>
                                                <span>Cloud DSP</span>
                                            </a>
                                        </li>
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bdx"></i>
                                                <span>Cloud SSP</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="module-tab-text clearfix" style="margin-bottom:0">
                                    <h4>客户案例</h4>
                                    <ol class="clearfix module-tab-case">
                                        <li>
                                            <i class="icon-case icon-case01"></i>
                                            <span>卓易科技</span>
                                        </li>
                                        <li>
                                            <i class="icon-case icon-case02"></i>
                                            <span>游讯</span>
                                        </li>
                                    </ol>
                                </div>
                                <div class="module-tab-more">
                                    <a href="#">查看更多</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="module-tab-box-ma">
                            <li>
                                <div class="module-tab-title">
                                    <h4>相关介绍</h4>
                                    <p>从为企业培养人才进行职业评估，从大数据收集存储到测评结果分析，我们企业对职业测评服务市场多年的运营经验和技术积累，为您提供完美的人才培养方案。</p>
                                </div>
                                <div class="module-tab-text clearfix">
                                    <h4>相关信息</h4>
                                    <ul class="clearfix">
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bdm"></i>
                                                <span>测评题库</span>
                                            </a>
                                        </li>
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bds"></i>
                                                <span>测评报告</span>
                                            </a>
                                        </li>
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bdx"></i>
                                                <span>测评分析</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="module-tab-text clearfix" style="margin-bottom:0">
                                    <h4>客户案例</h4>
                                    <ol class="clearfix module-tab-case">
                                        <li>
                                            <i class="icon-case icon-case03"></i>
                                            <span>人人网</span>
                                        </li>
                                        <li>
                                            <i class="icon-case icon-case04"></i>
                                            <span>换手率</span>
                                        </li>
                                    </ol>
                                </div>
                                <div class="module-tab-more">
                                    <a href="#">查看更多</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="module-tab-box-ma">
                            <li>
                                <div class="module-tab-title">
                                    <h4>相关介绍</h4>
                                    <p>从为企业培养人才进行职业评估，从大数据收集存储到测评结果分析，我们企业对职业测评服务市场多年的运营经验和技术积累，为您提供完美的人才培养方案。</p>
                                </div>
                                <div class="module-tab-text clearfix">
                                    <h4>相关信息</h4>
                                    <ul class="clearfix">
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bdm"></i>
                                                <span>职业服务</span>
                                            </a>
                                        </li>
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bds"></i>
                                                <span>测评报告</span>
                                            </a>
                                        </li>
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bdx"></i>
                                                <span>测评分析</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="module-tab-more">
                                    <a href="#">查看更多</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="module-tab-box-ma">
                            <li>
                                <div class="module-tab-title">
                                    <h4>相关介绍</h4>
                                    <p>云大数据舆情解决方案为政府、广电媒体、輿情服务商、企业提供实时舆情数据订阅，智能语义分析，百度搜索指数及全网用户画像等功能，帮助客户实现个性化深度定制輿情系统，把握时事脉搏。</p>
                                </div>
                                <div class="module-tab-text clearfix">
                                    <h4>相关产品</h4>
                                    <ul class="clearfix">
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bdm"></i>
                                                <span>百度MapReduce BMR</span>
                                            </a>
                                        </li>
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bds"></i>
                                                <span>百度机器学习 BML</span>
                                            </a>
                                        </li>
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bdx"></i>
                                                <span>百度Elasticsearch</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="module-tab-more">
                                    <a href="#">查看更多</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="module-tab-box-ma">
                            <li>
                                <div class="module-tab-title">
                                    <h4>相关介绍</h4>
                                    <p>从为企业培养人才进行职业评估，从大数据收集存储到测评结果分析，我们企业对职业测评服务市场多年的运营经验和技术积累，为您提供完美的人才培养方案。</p>
                                </div>
                                <div class="module-tab-text clearfix">
                                    <h4>相关产品</h4>
                                    <ul class="clearfix">
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bdm"></i>
                                                <span>测评报告</span>
                                            </a>
                                        </li>
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bds"></i>
                                                <span>测评题库</span>
                                            </a>
                                        </li>
                                        <li class="module-tab-link">
                                            <a href="#">
                                                <i class="icon icon-bdx"></i>
                                                <span>专家</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="module-tab-text clearfix" style="margin-bottom:0">
                                    <h4>客户案例</h4>
                                    <ol class="clearfix module-tab-case">
                                        <li>
                                            <i class="icon-case icon-case05"></i>
                                            <span>诺禾致源</span>
                                        </li>
                                        <li>
                                            <i class="icon-case icon-case06"></i>
                                            <span>古奥基因</span>
                                        </li>
                                    </ol>
                                </div>
                                <div class="module-tab-more">
                                    <a href="#">查看更多</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		
        <script type="text/javascript">
            jQuery(".module-banner-tab").slide({trigger:"click",delayTime:1000});
        </script>
		
    </body>
</html>
