<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/cjb/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/static/js/cjb/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/cjb/bootstrap.css">
    <link rel="">
    <title>职位需求</title>

    {% block pg_head %}{% endblock %}

</head>

<body>
    <div class="container">
        <div class="page-header col-xs-12">
          <h1>职位需求 <small>脑洞大开组</small></h1>
        </div>
        <div class="col-xs-3">
            <ul class="nav nav-pills nav-stacked" id="nav_list_left">
                <li role="presentation" class="active"><a href="javascript:void(0);" onclick="get_right('/cjb/company/',0)">公司简介</a></li>
                <li role="presentation"><a href="javascript:void(0);" onclick="get_right('/cjb/jobneed/',1)">职位需求</a></li>
                <li role="presentation"><a href="javascript:void(0);" onclick="get_right('/cjb/tester/',2)">测试者</a></li>
                <li role="presentation"><a href="javascript:void(0);" onclick="get_right('/cjb/jobneed/',3)">Messages</a></li>
                <!--<li role="presentation" class="active" onclick="get_right('/cjb/company/')">公司简介</a></li>-->
                <!--<li role="presentation" onclick="get_right('/cjb/jobneed/')">职位需求</li>-->
                <!--<li role="presentation" onclick="get_right('/cjb/tester/')">测试者</li>-->
                <!--<li role="presentation" onclick="get_right('/cjb/jobneed/')">Messages</li>-->
            </ul>
        </div>

        <div class="container col-xs-9">
            {% block pg_body %}{% endblock %}

            <div class="content_right">
                <h1>公司简介</h1>
            </div>
            <div>
                <nav aria-label="Page navigation">
                  <ul class="pagination" id="page_list">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="active"><a href="{% url 'home' %}">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>
    <div style="height: 50px;"></div>


</body>
    {% block pg_script %}{% endblock %}
<script>



    function get_right(url, numid) {
        // 改变导航栏的选中状态
        $('#nav_list_left .active').removeClass('active')
        $('#nav_list_left li').eq(numid).addClass('active')
        // console.log($('#nav_list_left>li').classList,'----')

        // 从后台获取数据，显示在右边
        $.ajaxSetup({data:{csrfmiddlewaretoken: '{{ csrf_token }}'}})
        $.ajax({
            type: 'POST',
            url: url,
            dataType: 'html',
            success: function (data) {
                $('.content_right').html(data)
            }
        })
    }


</script>

</html>