<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <title>职位需求</title>
</head>
<style>
    p{
        margin:0px;
    }
    .panel-body {
        padding: 5px 15px;
    }
    .panel-heading {
        padding: 5px 15px;
    }

</style>
<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">标签1</div>
            <div class="panel-body">
                <p>123</p>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">标签1</div>
            <div class="panel-body">
                <p>123</p>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">标签1</div>
            <div class="panel-body">
                <p>123</p>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">标签1</div>
            <div class="panel-body">
                <p>123</p>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">标签1</div>
            <div class="panel-body">
                <p>123</p>
            </div>
        </div>
    </div>


</body>
</html>