{% extends './base_hr.html' %}

{% block pg_head %}

<!--样式引用自己写的文件或直接写在headblock中的style中都行-->
<!--<link rel="stylesheet" type="text/css" href="/static/css/cjb/jobneed.css" charset="utf8">-->


<style xmlns="http://www.w3.org/1999/html">
        p{
            margin:0px;
        }
        .panel-body {
            padding: 5px 15px;
        }
        .panel-heading {
            padding: 5px 15px;
        }

        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 8px 15px;
        }
        hr{
            margin: 10px 0px;
        }
    </style>

{% endblock %}



{% block pg_body %}
            <div>
                <div class="btn-group col-xs-4" style="padding-left: 0px;" role="group" aria-label="...">
                    <button type="button" id="btn_add" class="btn btn-default">新增职位</button>
                    <button type="button" class="btn btn-default">刷新</button>
                </div>

                <div class="dropdown col-xs-2">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        筛选
                        <span class="caret"></span>
                        </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">招聘中</a></li>
                        <li><a href="#">招聘结束</a></li>
                    </ul>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="搜索职位名称">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">搜索</button>
                      </span>
                    </div>
                  </div>
                </div>
            </div>
            <hr>

            {% for jns in ob_jns %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span>{{ jns.jobneed_name }}</span>
                    <span style="float:right;">状态：<a href="#">
                        <span class="badge">{% if jns.jobneed_status == 1 %}招聘中{% elif jns.jobneed_status == 0 %}招聘结束{% else %}模型定制中{% endif %}</span></a></span>
                </div>
                <div class="panel-body">
                    <ul class="list-group" >
                        <li class="list-group-item list-group-item-warning col-xs-4">
                            已邀请测试人数：<a href="#"><span class="badge">14</span></a>
                        </li>
                        <li class="list-group-item list-group-item-info col-xs-4">
                            已完成测试人数：<a href="#"><span class="badge">13</span></a>
                        </li>
                        <li class="list-group-item list-group-item-success col-xs-4">
                            已通过测试人数：<a href="#"><span class="badge">12</span></a>
                        </li>
                    </ul><br><br>
                    <div>
                        <div style="float: left; bottom: 5px; width:33%">
                            <p style="color: #5e5e5e">添加时间：{{ jns.create_time|date:'Y-m-d' }}</p>
                            <p style="color: #5e5e5e">添加人员：{{ jns.create_user_name }}</p>
                        </div>
                        <div style="float: left; width:33%; text-align: center">
                            <button type="button" class="btn btn-info">邀请测试</button>
                        </div>
                        <div class="btn-group" role="group" style="float: right;width:33%" aria-label="...">
                            <button type="button" class="btn btn-default">查看详情</button>
                            <button type="button" class="btn btn-default">编辑</button>
                            <button type="button" class="btn btn-default">删除</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}



<!--新增按钮弹框-->
<div class="modal fade" id="Modal_add" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height: 56px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel" style="font-weight: bold">新增</h4>
            </div>
            <div class="modal-body" style="height: 400px;">
                <div class="input-group col-xs-12" style="margin-bottom:15px;padding: 0px 10px" >
                    <span class="input-group-addon" style="font-weight: bold" id="basic-addon1">职位名称</span>
                    <input type="text" id="jn_name" name="jn_name" class="form-control" placeholder="职位名称" aria-describedby="basic-addon1">
                    <span class="input-group-btn">
                        <button class="btn btn-info" id="sel_job_tem" type="button"><span style="font-weight: bold">选择工作模板</span></button>
                    </span>
                </div>

                <div class="col-xs-12" style="margin-bottom:15px;padding: 0px 10px">
                    <div class="panel panel-info" style="width: 49%;float: left;padding: 0px;margin-bottom: 10px;">
                        <div class="panel-heading">
                        <h3 class="panel-title">职位描述</h3>
                      </div>
                      <div class="panel-body" style="padding: 0px;">
                        <textarea name="jn_describe" required="True" id="jn_describe" style="border: 0px;resize: none;" rows="8" class="form-control" placeholder="职位描述"></textarea>
                      </div>

                    </div>
                    <div class="" style="float: left;width: 2%">&nbsp;</div>

                    <div class="panel panel-info" style="width: 49%;float: left; padding: 0px;margin-bottom: 10px;">
                      <div class="panel-heading">
                        <h3 class="panel-title">职位要求</h3>
                      </div>
                      <div class="panel-body" style="padding: 0px;">
                        <textarea name="jn_require" id="jn_require" style="border: 0px;resize: none;" rows="8" class="form-control" placeholder="职位要求"></textarea>
                      </div>
                    </div>
                </div>

				<div class="form-group">
					<div class="col-lg-6">
                        <div class="input-group">
                          <span class="input-group-btn">
                              <button class="btn btn-info" type="button"><span style="font-weight: bold">选择测试模型</span></button>
                          </span>
                          <input type="text" name="jn_model" id="jn_model" class="form-control" placeholder="请选择">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
				</div>
            </div>
            <div class="form-group modal-footer" style="height: 65px;">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span aria-hidden="true"></span>关闭</button>
                <button type="submit" id="submit_add_jn" class="btn btn-primary" data-dismiss="modal"><span aria-hidden="true"></span>保存</button>
            </div>
        </div>
    </div>
</div>



<!--获取职位模板-->
<div class="modal fade" id="select_job_template" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height: 56px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="" style="font-weight: bold">选择职位名称</h4>
            </div>
            <div class="modal-body" style="height: 400px;">
                <div class="input-group col-xs-12" style="margin-bottom:15px;padding: 0px 10px" >
                    <span class="input-group-addon" style="font-weight: bold">选择职位模板</span>
                    <input type="text" id="jn_temp" name="jn_temp" class="form-control" placeholder="职位模板" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="form-group modal-footer" style="height: 65px;">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span aria-hidden="true"></span>关闭</button>
                <button type="submit" id="submit_add_temp" class="btn btn-primary" data-dismiss="modal"><span aria-hidden="true"></span>保存</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block pg_script %}
    <!--调用自己写的脚本，或直接在下面写都行-->
    <!--<script type="text/javascript" src="/static/js/cjb/jobneed.js"></script>-->

    <script>
    $('#btn_add').click(function () {
         $('#myModalLabel').text('新增职位需求')
         $('#Modal_add').modal();
    });


    $('#submit_add_jn').click(function () {
        var jn_name = $('#jn_name').val()
        let jn_desc = $('#jn_describe').val()
        let jn_requ = $('#jn_require').val()
        let jn_model = $('#jn_model').val()
        let data_jn_add = {'jn_name':jn_name, 'jn_desc':jn_desc, 'jn_requ':jn_requ, 'jn_model':jn_model, }

        console.log(data_jn_add,'----data_jn_add--------')

        $.ajaxSetup({data:{csrfmiddlewaretoken:'{{ csrf_token }}'}})
        $.ajax({
            type:'POST',
            url: '/cjb/jobneed_add/',
            data: data_jn_add,
            success(result) {
                alert('success')
            },error(result){
                alert('fail')
            }
        })
    });


    $('#sel_job_tem').click(function () {
         $('#select_job_template').modal();
    });


    </script>

{% endblock %}


